:root {
  --color-btn-blue: #4361ee;
  --z-index-level-one: 100;
  --z-index-level-two: 200;
  --z-index-level-three: 300;
  --z-index-level-four: 400;
  --z-index-level-five: 500;
  --z-index-level-six: 600;
}